<% include ./partials/header %>
<div class="container">
    <a href="/myjournal/new" class="btn  btn-primary">Create New</a>
</div>
<div class="container">
    <div class="card-columns">
        <% entry.forEach(function(entry) { %>
            <div class="card col-sm-2">
                <img class="card-img-top" src = "<%=entry.image%>">
                <div class="card-body">
                    <h5 class="card-title"><%= entry.title %></h5>
                    <p class="card-subtitle mb-2 text-muted"><%= entry.date %></p>
                    <p class="card-text"><%= entry.location %></p>
                    <a href="/myjournal/<%=entry._id%>" class="btn btn-primary">Read Entry</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ./partials/footer %>